{% extends "base.html.twig" %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            <div class="main-content">
                <h2>Une erreur est survenue : erreur {{ status_code }}</h2>
                <p>
                    La page que vous souhaitez consultez est actuellement inaccessible. Veuillez vérifiez que vous suivez
                    un lien existant.
                </p>
                <p>
                    Merci de prévenir OI en précisant ce que vous étiez occupés de faire juste avant l'erreur.<br/>
                    Si possible, merci aussi de préciser le navigateur utilisé (Internet Explorer, Google Chrome,
                    Mozilla
                    Firefox, Microsoft Edge, ...) ainsi que votre système d'exploitation (Windows xp, 7, 8, 10).
                </p>
                <p>Informations complémentaires : {{ status_code }} {{ status_text }}</p>
            </div>
        </div>
    </div>
{% endblock %}