{% extends "@FrontUser/layout.html.twig" %}

{% block title %}
    Edition profil - {{ parent() }}
{% endblock %}

{% block menus %}
    {% include "@FrontUser/Profile/navigation.html.twig" %}
{% endblock %}

{% block fos_user_content %}
    <div class="main-content change-profile">
        {{ parent() }}
        {% include "@FrontUser/Profile/edit_content.html.twig" %}
    </div>
{% endblock fos_user_content %}