<ul class="nav navbar-nav">
    <li class="{% if app.request.attributes.get('_route') == 'news_index' or
    app.request.attributes.get('_route') == 'user_profile_show' %}active{% endif %}">
        <a href="{{ path("user_profile_show") }}">Profil</a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'user_profile_edit' %}active{% endif %}">
        <a href="{{ path("user_profile_edit") }}">Modifier</a>
    </li>
    <li class="{% if app.request.attributes.get('_route') == 'user_change_password' %}active{% endif %}">
        <a href="{{ path("fos_user_change_password") }}">Paramètres</a>
    </li>
</ul>