{% extends "@FrontUser/layout.html.twig" %}

{% block title %}
    Profil - {{ parent() }}
{% endblock %}

{% block menus %}
    {% include "@FrontUser/Profile/navigation.html.twig" %}
{% endblock %}

{% block fos_user_content %}
    <div class="main-content user_user_show">
        {{ parent() }}
        {% include "@FrontUser/Profile/show_content.html.twig" %}
    </div>
{% endblock fos_user_content %}
