{% extends "FrontDomainBundle:Documents:add.html.twig" %}

{% block content %}
    {# @var document \Front\DomainBundle\Entity\Document #}
    {{ form_start(form, { 'action': path('domain_manager_catalog_modify', {'id' : catalog.id}), 'attr': { 'class': 'domain_manager_document_modify' } }) }}
    <a href="{{ path('domain_manager_catalog_index') }}" class="btn btn-default">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Retour aux documents
    </a>

    {% block titlePage %}
        <p class="alert alert-warning">
            Vous éditez un catalogue déjà existant, merci de ne pas changer
            l'esprit général du catalogue déjà publié.
        </p>

        <h2 class="col-md-12">Modifier un document</h2>
    {% endblock %}

    {% include ("@FrontDomain/Form/catalogType.html.twig") %}
    <input type="submit" class="btn btn-default pull-right" value="Modifier"/>
    {{ form_end(form) }}
{% endblock %}