/* ----------------------------------------------------------------------------------
                                    Header
------------------------------------------------------------------------------------*/
body {
    background-color: #e6e6e6;
}

/* ----------------------------------------------------------------------------------
                                    Header
------------------------------------------------------------------------------------*/

.navbar.front-bar {
    margin-bottom: 0;
    border-width: 0;
}

ul.nav.navbar-nav li a:link {
    line-height: 40px;
}

.navbar .container {
    padding-left: 0;
}

.separation-bar {
    background-color: #002e62;
    height: 75px;
}

/* ----------------------------------------------------------------------------------
                                    Side bars
------------------------------------------------------------------------------------*/
.side-bar {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    background-color: white;
}

/* ----------------------------------------------------------------------------------
                                      Content
------------------------------------------------------------------------------------*/
.container .main-content {
    padding: 2%;
    margin: 0;
    background-color: white;
}

.list-group.small .list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group.small .badge{
    font-size: 10px;
    padding: 3px 5px;

}
/* ----------------------------------------------------------------------------------
                                      Content News
------------------------------------------------------------------------------------*/
.main-content .single-new{
    min-height: 150px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.single-new .new-image{
    height: 150px;
    float:left;
    margin-right: 8px;
    margin-bottom: 4px;
}

.single-new label {
    float: right;
}

.single-new p:last-child {
    text-align: center;
}
.single-new p span:first-child {
    float: left;
}
.single-new p span:last-child {
    float: right;
}

/* ----------------------------------------------------------------------------------
                                      Content Documents
------------------------------------------------------------------------------------*/
#table-document-downloadable {
    font-size: 80%;
    border-spacing: 0;
}

/* ----------------------------------------------------------------------------------
                                      Profile pic menu
------------------------------------------------------------------------------------*/
.transparent {
    background-color: transparent !important;
    padding: 0 !important;
}

.dropdown-menu.closer {
    margin: 0;
}

.badge.badge-profile-picture {
    position: relative;
    top: -20px;
    left: -10px;
}

.img.img-profile-picture {
    height: 60px;
    margin: 5px -10px 5px 0;
    text-decoration: none;
}