{% extends "@FrontUser/layout.html.twig" %}


{% block content %}
    {% block fos_user_content %}
        {% if error %}
            <div class="alert alert-danger alert-danger-connection">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        {{ render(controller("FOSUserBundle:Security:login", {'isLongTemplate': false })) }}
    {% endblock fos_user_content %}
{% endblock %}