{% trans_default_domain 'FOSUserBundle' %}

<h2>Réinitialisation du mot de passe</h2>
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-primary col-md-3 col-md-offset-9" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
    <div class="clearfix"></div>
{{ form_end(form) }}
