/* ----------------------------------------------------------------------------------
                                    Header
------------------------------------------------------------------------------------*/

.navbar.front-bar {
    margin-bottom: 0px;
    border-width: 0 0 0;
}

/* ----------------------------------------------------------------------------------
                                    Side bars
------------------------------------------------------------------------------------*/
.side-bar {
    padding-top: 2%;
    margin: 0px;
    background-color: lightgrey;
}