/* ----------------------------------------------------------------------------------
                                    Header
------------------------------------------------------------------------------------*/
body {
    background-color: #e6e6e6;
}

/* ----------------------------------------------------------------------------------
                                    Header
------------------------------------------------------------------------------------*/

.navbar.front-bar {
    margin-bottom: 0;
    border-width: 0 0 0;
}

ul.nav.navbar-nav li a:link {
    line-height: 40px;
}

.navbar .container {
    padding-left: 0;
}

.separation-bar {
    background-color: #002e62;
    height: 75px;
}

/* ----------------------------------------------------------------------------------
                                    Side bars
------------------------------------------------------------------------------------*/
.side-bar {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    background-color: white;
}

/* ----------------------------------------------------------------------------------
                                      Content
------------------------------------------------------------------------------------*/
.container .main-content {
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    background-color: white;
}

/* ----------------------------------------------------------------------------------
                                      Content News
------------------------------------------------------------------------------------*/
.list-group.small .list-group-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group.small .list-group-item:hover{
    background-color: rgba(211, 211, 211, 0.3);
    cursor: pointer;
}