{% extends "::base.html.twig" %}

{% block menus %}
    {{ render(controller("FrontAppBundle:Admin:topMenu", {"route" : app.request.attributes.get('_route')})) }}
{% endblock %}

{% block mainContent %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                Bonjour, vous entrez dans la gestion des utilisateurs qui n'est pas encore opérationnelle.
                Revenez plus tard! :)
            </div>
        </div>
    </div>
{% endblock %}