<div class="list-group small">
    <a href="{{ path(from) }}" class="list-group-item
         {% if app.request.attributes.get('_route_params')['domain'] == "all" %}active{% endif %}">
        <h5 class="list-group-item-heading">Tous les domaines</h5>
    </a>
    {% for key, domain in domains %}
        <a href="{{ path(from, {"domain" : key}) }}"
           class="list-group-item {% if app.request.attributes.get('_route_params')['domain'] == key %}active{% endif %}">
            <span class="badge">{% if domainsCount[key] is defined %}{{  domainsCount[key] }} {% endif %}</span>
            {{ domain }}
        </a>
    {% endfor %}
</div>