{% extends "FrontBundle::layout.html.twig" %}


{% block title %}
    News -
    {% if app.request.getSchemeAndHttpHost() == "http://localhost" %}
        Vanina Local
    {% elseif app.request.getSchemeAndHttpHost() == "http://vanina" %}
        Vanina
    {% elseif app.request.getSchemeAndHttpHost() == "http://isidore" %}
        Isidore
    {% endif %}
{% endblock %}


{% block content %}
    <div>
        <div class="col-sm-3 main-content">
            <ul class="list-group small">
                <li class="list-group-item "><h5 class="list-group-item-heading">Tous les domaines</h5></li>
                <li class="list-group-item active">Achat</li>
                <li class="list-group-item">E-business</li>
                <li class="list-group-item">Finances</li>
                <li class="list-group-item">GISS</li>
                <li class="list-group-item">Grands Comptes</li>
                <li class="list-group-item">Informatique</li>
                <li class="list-group-item">Juridique</li>
                <li class="list-group-item">Logistique</li>
                <li class="list-group-item">Marketing</li>
                <li class="list-group-item">Métiers</li>
                <li class="list-group-item">Organisation</li>
                <li class="list-group-item">Perf'Co</li>
                <li class="list-group-item">Qualité</li>
                <li class="list-group-item">R.H.</li>
                <li class="list-group-item">Réseau</li>
            </ul>
        </div>
        <div class="col-sm-9 main-content">
            <div style="margin-bottom: 45px">
                <img style="height: 150px; float:left;"
                     src="http://random-ize.com/lorem-ipsum-generators/lorem-ipsum/lorem-ipsum.jpg"/>
                <label style="float: right;clear: right">Domaine</label>
                    <h3>Titre</h3>
                    <p>Pellentesque hendrerit, massa at euismod ullamcorper, enim tortor tincidunt sapien, nec
                    convallis nisl mauris eu tellus. Nunc euismod ultrices viverra. Sed in mi ligula, a tincidunt leo. In
                    hac habitasse platea dictumst. Quisque at augue quis tortor euismod tincidunt nec id magna.
                    Vestibulum eu nunc at odi.</p>
                <p style="float: left;">Author - Creation date</p>
                <a href="#" style="float: right">Lire la suite</a>
            </div>
            <hr/>
        </div>
    </div>
{% endblock %}