{% extends "FrontBundle::layout.html.twig" %}


{% block title %}
    News -
    {% if app.request.getSchemeAndHttpHost() == "http://localhost" %}
        Vanina Local
    {% elseif app.request.getSchemeAndHttpHost() == "http://vanina" %}
        Vanina
    {% elseif app.request.getSchemeAndHttpHost() == "http://isidore" %}
        Isidore
    {% endif %}
{% endblock %}


{% block content %}
    <div>News</div>
{% endblock %}